.bg-sketch-primary {
  background-color: #f2f6ff !important;
  color: #4a4a4a !important;
  border-color: #2e2e2e !important;
}

.bg-sketch-secondary {
  background-color: #f8f7f5 !important;
  color: #4a4a4a !important;
  border-color: #2e2e2e !important;
}

.bg-primary {
  background-color: #cce5ff !important;
  color: #084298 !important;
}

.bg-danger {
  background-color: #f8d7da !important;
  color: #992828 !important;
}

.bg-success {
  background-color: #d1f3d3 !important;
  color: #27632a !important;
}

.bg-warning {
  background-color: #fff3cd !important;
  color: #664d03 !important;
}

.bg-info {
  background-color: #cff4fc !important;
  color: #055160 !important;
}

.bg-loader-primary {
  background-color: #084298 !important;
  color: #cce5ff !important;
}
